beautifulsoup4==4.12.3
bs4==0.0.2
channels==4.0.0
daphne==4.0.0
Django==5.1.1
django-cors-headers==4.4.0
djangorestframework==3.14.0
duckduckgo-search==6.2.13
googlemaps==4.10.0
loguru==0.7.2
openai==1.50.2
pdf2image==1.17.0
python-dotenv==1.0.0
tiktoken==0.7.0
websockets>=11.0.3
qrcode==7.4.2
deepgram-sdk==3.7.2