.nav{
    border-bottom: .125rem solid #f1f1f1;
  height: 80px;
  display: flex;
  align-items: center;

  &__container{
    width: 100% ;
    display: flex;
    padding: 0 24px;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
  }
  &__ul{
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    a{
      display: flex;
      align-items: center;
      gap: 6px;
      img{
        height: 24px;
      }
    }
  }
  &__lang{
    margin: 0 0 0 auto;

  }

  &__logo{
    display: flex;
    align-items: center;
    gap: 12px;
    h1{
      margin: 0;
      font-size: 1.71875rem;
      @media (max-width: 505px){
        font-size: 1.2rem;
      }
      @media (max-width: 375px){
        font-size: 1rem;
      }
    }
    img{
      height: 48px;
      @media (max-width: 375px){
        height: 32px;
      }
    }
  }
}